.container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid black;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }
  
  .content {
    padding: 20px;
    background-color: #f1f1f1;
  }
  img{
    float: right;
    width: 75px;
  }
  
  .float-right {
    float: right;
    margin: 0 0 10px 10px;
  }
  